/* Gradient Background of 45 degrees*/

body {
    background: #070707;
    background: -moz-linear-gradient(45deg, #070707 0%, #000000 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #070707), color-stop(100%, #000000));
    background: -webkit-linear-gradient(45deg, #070707 0%, #000000 100%);
    background: -o-linear-gradient(45deg, #070707 0%, #000000 100%);
    background: -ms-linear-gradient(45deg, #070707 0%, #000000 100%);
    background: linear-gradient(45deg, #070707 0%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#000000', GradientType=1);
}